@charset "utf-8";
html {
	height: 100%;
	background: url(../images/bg.jpg) no-repeat center center fixed;
	background-size: 100% 100%;
	background-repeat: no-repeat;
}
body {
	font-size: 100%;
	height: 100%;
	margin: 0;
	padding: 0;
	border: 0;
}
div.container {
	width: 960px;
	margin: 0 auto;
}
.clearfix:after, .clearfix:before {
	content: "";
	display: table;
}
.clearfix:after {
	clear: both;
	overflow: hidden;
}
.clearfix {
	zoom: 1;
}
header {
	position: relative;
	/*	background: #FFFFFF;*/
	margin: 0 auto;
	border-color: white;
	border: 0;
	visibility: visible;
	overflow: auto;
}
.menu ul {
	overflow: hidden;
	padding: 0;
	margin: 0;
	border: 1px;
	border-color: rgb(0,102,255);
	border-style: outset;
	border-radius: 5px 5px 5px 5px;
}
.menu li {
	float: left;
	height: 30px;
	width: 25%;
	margin: 0;
	padding: 0;
	border: 0;
	list-style-type: none;
}
.menu a {
	display: block;
	padding: 5px 0 5px 0;
	margin: 0 0 0 0;
	border: 0;
	text-align: center;
	text-decoration: none;
	color: white;
	background: linear-gradient(to bottom, rgb(117,151,213) 0%, rgb(47,83,149) 50%, rgb(28,49,89) 50%, rgb(117,151,213) 100%);
}
.menu li + li a {
	border-left: 1px solid #AAAAAA;
}
.menu a:hover {
	color: #555555;
}
.subtitle_container {
	padding: 0;
	background: #000000;
	overflow: auto;
	margin: 0;
}
.subtitle {
	color: white;
	float: left;
	margin-bottom: 0px;
	margin-left: auto;
	margin-right: auto;
	margin-top: 0px;
}
.subtitle h2 {
	margin-top: 8px;
	margin-bottom: 8px;
}
.socials_list {
	float: right;
	padding: 0;
	border: 0;
	margin: 10px 0 6px 0;
	overflow: hidden;
}
.socials_list li {
	float: left;
	list-style-type: none;
	width: 30px;
}
.socials_list a {
	display: block;
	text-align: right;
}
section.two_column_body {
	margin: 0 auto;
	padding: 10px 0 0 0;
}
article h2, aside h2 {
	font-size: 18px;
	overflow: auto;
	margin: 0 0 10px 0;
	padding: 0 0 5px 0;
	border-bottom: 1px solid black;
}
article h3, aside h3 {
	font-size: 16px;
	margin: 0;
}
article p, aside p {
	font-size: 14px;
	margin: 0;
}
article p + p {
	padding-top: 12px;
}
article h4, aside h4 {
	font-size: 10px;
	color: rgb(0,0,102);
	margin: 0;
}
div.more {
	position: absolute;
	top: 16px;
	right: 10px;
}
div.more a {
	text-decoration: none;
	color: rgb(0,0,102);
	font-size: 12px;
}
div.more a:hover {
	color: rgb(204,102,0);
}

article, aside {
	padding: 0;
	position: relative;
	margin: 0 0 12px 0;
	background: rgba(199,213,237,0.5);
	text-align: justify;
	border-radius: 10px 10px 10px 10px;
	border: 2px;
	border-style: outset;
	border-color: rgb(117,151,213);
	box-shadow: #AAAAAA;
}
	
section.two_column_body article, section.two_column_body aside {
	width: 49%
}
section.two_column_body article {
	float: left;
}
section.two_column_body aside {
	float: right;
}
div#self_introduction, div#blog_leadoff, div#experiments, div.blogs {
	padding: 10px 10px 10px 10px;
}
article p {
	margin: 0;
}
article img {
	float: left;
	padding: 0 10px 10px 0;
}
html body, h1, h2, h3, h4, h5, h6, p {
	font-family: "微软雅黑";
	font-style: normal;
	font-weight: normal;
}
section.one_column_body {
	margin: 0 auto;
	padding: 10px 0 0 0;
}
section.one_column_body article {
}
div#main_container {
	padding: 0;
	height: auto !important;
	min-height: 100%;
	position: relative;
}
div#content {
	margin: 0 auto;
	padding-bottom: 60px;
}
footer {
	position: absolute;
	bottom: 0;
	clear: both;
	width: 100%;
	height: 60px;
}
section#foot p {
	color: white;
	font-size: 12px;
	margin: 0;
	padding: 0;
	text-align: center;
}

@media screen and (max-width: 1000px) {
div.container {
	width: 98%;
	margin: 0 auto;
}
}
